@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-title" class="page-title">
    <img class="img-full" alt="page title img" src="/img/bìa2.jpg" width="300" height="200">

<div class="container">
    <div class="row">
        <div class="page-title-wrap">
            <div id="page-title-text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>Về Chúng tôi</h1></div>
        </div>
    </div>
</div>
        </div><!-- #page-title -->
<div id="main">
    <div id="page-default" class="container">
        <div id="primary">
            <div id="content">

                <article id="post-959" class="post-959 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1445849286729" style=""><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h1 style="font-size: 29px;line-height: 1.1em;text-align: center;font-family:Playfair Display;font-weight:400;font-style:normal" class="vc_custom_heading  text-center bottom-line">Về chúng tôi</h1><p class="text-center"><em>Luôn tiếp trao dồi và cải thiện để mang đến chất lượng phục vụ tốt nhất.</em></p></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1444033026454" style="">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <h2 style="color: #ffffff;text-align: left" class="vc_custom_heading vc_custom_1444030946348  text-left">Cam kết</h2>
                                        <div class="wpb_text_column wpb_content_element  vc_custom_1444031035704">
                                            <div class="wpb_wrapper">
                                                <p>Món ăn của chúng tôi cam kết mang đến cho bạn một trải nghiệm ẩm thực độc đáo và không gì có thể sánh bằng. Chúng tôi luôn tập trung vào việc nâng cao chất lượng phục vụ để đảm bảo bạn sẽ có một bữa ăn tuyệt vời mỗi lần ghé thăm. Đầu bếp tài năng của chúng tôi sẽ tạo ra những món ăn tươi ngon và hấp dẫn, còn đội ngũ nhân viên phục vụ chuyên nghiệp sẽ làm mọi điều có thể để đảm đương rằng bạn cảm thấy thoải mái và hài lòng. Chúng tôi tự hào về việc tạo ra không gian ấm cúng và dễ chịu, nơi bạn có thể thư giãn và tận hưởng bữa ăn ngon miệng. Hãy để chúng tôi chăm sóc bạn và tạo nên những kỷ niệm ẩm thực đáng nhớ..</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_custom_1655699468539 vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                                            <div class="wpb_wrapper">

                                                <div class="wpb_video_wrapper"><iframe title="Pizza Intro" width="625" height="352" src="https://www.youtube.com/embed/sPkNxB5UXSg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1444033037753" style="">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1444031388386">
                                            <div class="wpb_wrapper">

                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="212" height="24" src="https://demo.exptheme.com/pizzeria/wp-content/uploads/2015/09/section_delimiter.png" class="vc_single_image-img attachment-full" alt="" decoding="async" title="section_delimiter" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container"style="text-align: center; margin: 40px auto">
                            <div class="row">
                                <div class="page-title-wrap">
                                    <div id="page-title-text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ><h1>Đội ngũ nhân viên</h1></div>
                                </div>
                            </div>
                        </div>

                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1444033044489" style="">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                    <div class="wpb_gallery wpb_content_element vc_clearfix vc_custom_1446004936381">
                                        <div class="wpb_wrapper"><div class="wpb_gallery_slides wpb_flexslider flexslider_slide flexslider" data-interval="3" data-flex_fx="slide">
                                        <ul class="slides" style="margin: 20px 20px 20px 0">
                                            <li>
                                                            <img src="~/img/staf/1.jpg" width="570" height="334" alt="15" title="15" style="margin: 10px 20px 20px 0" />

											</li>
                                            <li>
                                                            <img src="~/img/staf/2.jpg" width="570" height="334" style="margin: 10px 20px 20px 0" alt="18" title="18" />
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_gallery wpb_content_element vc_clearfix vc_custom_1446004936381">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_gallery_slides wpb_flexslider flexslider_slide flexslider" data-interval="3" data-flex_fx="slide">
                                                    <ul class="slides" style="margin: 20px 20px 20px 0">
                                                        <li>
                                                            <img src="~/img/staf/4.jpg" width="570" height="334" alt="15" title="15" style="margin: 10px 20px 20px 0" />

                                                        </li>
                                                        <li>
                                                            <img src="~/img/staf/6.jpg" width="570"  style="margin: 10px 20px 20px 0; height: 325px;" alt="18" title="18" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1444034965859 row-overlay-color relative-container" style="color:#000000">                                            
                        </div>
                    </div><!-- .entry-content -->
                </article><!-- #post -->

                <div id="comments" class="comments-area">
                </div><!-- #comments -->

            </div><!-- #content -->
        </div><!-- #primary -->
    </div>
    <section id="cms-mini-cart" class="cms-mini-cart ">
        <div class="container">
            <div class="cart-content">
                <div class="cart-content-inner">
                    <div class="cart-close cart-trigger"><i class="fa fa-close"></i></div>
                    <div class="border-lines-container">
                        <h1 class="no-top-margin border-lines">Cart</h1>
                    </div>
                    <div class="shopping_cart_dropdown woocommerce-mini-cart cart_list">
                        No products in the cart.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- #main -->